.top-container{
    height: 100%;
    width: 100%;
    background-color: #607EAA;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 0 15px 0;
}

.login-form-container{
    width: 100%;
    height: fit-content;
    background-color: #F9F5EB;
    margin:50px 5px 30px 5px;
    border-radius: 30px;
    padding-bottom: 20px;

}

img{
    display: inline;
}

.form-container{
     display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-container div{
    padding: 10px;
   
    color: #00008C;
    text-align: center;
}

.login-form-container div h3{
    font-size: xx-large;
}

select, input[type="text"], input[type="date"]{
  border-radius: 50px;
  text-align: center;
  font-size: medium;
  width: 30%;
  padding: 5px 0 5px 0;
}


.button-container{
    width: 100%;
    background-color: white;

    padding: 10px 0 10px 0;
    margin-top : 20px
}

label{
    font-size: x-large;
    padding: 0 15px 0 0;
    width: 30%;
}

#show_pass{
    margin-left: -30px;
    margin-right: 5px;
}

button{
    border-radius: 1rem;
    width: 40%;
    color: white;
    background-color:#607EAA ;
    font-weight: 600;
    font-size: 1.25rem;
}
hr{
    border: 1px solid #607EAA;
}
button:hover{
    background-color:#00008C;
    color: white;
    border-color: #00008C;

}

.button-container .row div button{
width: 60%;
}

a{
    padding: 0 20px;
    color: black;
}

.login-form-container div:nth-child(5){
    width:100;
    text-align: center;
}



table{
    text-align: center;
    max-height: 495px;
    overflow-y:auto;
    
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(86, 210, 231, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}


tr{
    white-space: nowrap;
}

.user-detail-container{
    display: flex;
}

.user-detail-container div{
    width: 100%;
}

h5 span{
    color: blue;
}

#login-form-container div{
    padding:0px;
}