
@mixin transition($value) {
  -webkit-transition: $value ;
   -moz-transition: $value ;
          transition: $value ;
}

@mixin delay( $delay ) {
  -webkit-animation-delay: $delay;
   -moz-animation-delay: $delay;
  animation-delay: $delay;
}
@-webkit-keyframes enter{
  0%   { 
    opacity: 0;
    top: -10px;
  }
  5%   { 
    opacity: 1;
    top: 0px;
  }
  50.9% { 
    opacity: 1;
    top: 0px;
  }
  55.9% { 
    opacity: 0;
    top: - -10px;
  }
}
@keyframes enter{
  0%   { 
    opacity: 0;
    top: -10px;
  }
  5%   { 
    opacity: 1;
    top: 0px;
  }
  50.9% { 
    opacity: 1;
    top: 0px;
  }
  55.9% { 
    opacity: 0;
    top: - -10px;
  }
}
@-moz-keyframes enter{
  0%   { 
    opacity: 0;
    top: -10px;
  }
  5%   { 
    opacity: 1;
    top: 0px;
  }
  50.9% { 
    opacity: 1;
    top: 0px;
  }
  55.9% { 
    opacity: 0;
    top: - -10px;
  }
}


body{ background: #1fbeca; }
*{  margin: 0;}

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px;
}
.square{
  background: white;
  width: 15px;
  height: 15px;
  float: left;
  top: -10px;
  margin-right: 5px;
  margin-top: 5px;
  position:relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite;
}
.enter{
  top: 0px;
  opacity: 1;
}
.square:nth-child(1){
    animation-delay: 1.8s;
}
.square:nth-child(2){
 animation-delay: 2.1s;
}
.square:nth-child(3){
    animation-delay: 2.4s;
  background: #fdc96f;
}
.square:nth-child(4){
animation-delay: 0.9s;}
.square:nth-child(5){
animation-delay: 1.2s;}
.square:nth-child(6){
animation-delay: 1.5s;}
.square:nth-child(7){
  }
.square:nth-child(8){
animation-delay: 0.3s;}
.square:nth-child(9){
animation-delay: 0.6s;}
.clear{
  clear: both;
 }
.last{
   margin-right:0;
}